<!DOCTYPE html>
<html>
  <head>
    <title>Trang chủ</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <p class="d-flex justify-content-center text-success">
      <% if (successMsg?.length) { %> <%= successMsg %> <% } %>
    </p>
    <h1>Trang chủ</h1>
    <p>Welcome: <%= req?.session?.userSession?.name %></p>
    <p>Do you accept Cookies?</p>
    <button class="btn btn-primary">Yes</button>
    <button class="btn btn-danger">Yes</button>
    <hr />
    <form action="/dang-xuat">
      <button class="btn btn-warning">Đăng xuất</button>
    </form>
  </body>
</html>
