<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css"
      integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <main class="py-3">
      <div class="container">
        <div class="row">
          <div class="col-3">
            <h3>Navigation</h3>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a href="/" class="nav-link">Homepage</a>
              </li>
              <li class="nav-item">
                <a href="/users" class="nav-link">Manage Users</a>
              </li>
              <li class="nav-item">
                <a href="/roles" class="nav-link">Manage Roles</a>
              </li>
            </ul>
            <hr />
            <ul class="d-flex gap-2 list-unstyled">
              <li>Chào bạn: <%= req.user.name %></li>
              <li><a href="/auth/logout">Đăng xuất</a></li>
            </ul>
          </div>
          <div class="col-9"><%- body %></div>
        </div>
      </div>
    </main>
  </body>
</html>
