<!DOCTYPE html>
<html>
  <head>
    <title>Trang chủ</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <p class="d-flex justify-content-center text-success">
      <% if (successMsg?.length) { %> <%= successMsg %> <% } %>
    </p>
    <h1>Trang chủ</h1>
    <p class="display-6">
      Welcome:
      <span class="display-6"
        ><i><%= req?.session?.userSession?.name %></i></span
      >
    </p>
    <h3>
      Cập nhật thông tin tài khoản:
      <a href="/sua-thong-tin" class="btn btn-primary">Bấm vào đây</a>
    </h3>
    <h3>
      Đổi mật khẩu:
      <a href="/doi-mat-khau" class="btn btn-secondary">Bấm vào đây</a>
    </h3>
    <h3>
      Quản lý thiết bị đã đăng nhập:
      <form action="/thiet-bi" method="post" class="d-inline">
        <button class="btn btn-secondary">Bấm vào đây</button>
      </form>

      <!-- <button href="/thiet-bi" class="btn btn-secondary">Bấm vào đây</button> -->
    </h3>
    <p>Do you accept Cookies?</p>
    <button class="btn btn-primary">Yes</button>
    <button class="btn btn-danger">Yes</button>
    <hr />
    <form action="/dang-xuat">
      <button class="btn btn-warning">Đăng xuất</button>
    </form>
  </body>
</html>
