<!DOCTYPE html>
<html>
  <head>
    <title>Trang chủ</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <p><% if (successMsg?.length) { %> <%= successMsg %> <% } %></p>
    <h1>Trang chủ</h1>
    <p>Welcome: <%= req?.session?.userSession?.name %></p>
    <p>Do you accept Cookies?</p>
    <button>Yes</button>
    <button>Yes</button>
    <hr />
    <form action="/dang-xuat">
      <button>Đăng xuất</button>
    </form>
  </body>
</html>
