<h1>Form gửi mail:</h1>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Send to:</label>
  <input
    type="email"
    class="form-control"
    id="exampleFormControlInput1"
    placeholder="Bạn muốn gửi mail đến ai? Điền mail vào đây..."
  />
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label"
    >Example textarea</label
  >
  <textarea
    class="form-control"
    id="exampleFormControlTextarea1"
    rows="3"
  ></textarea>
</div>
<form action="/gui-mail" method="post">
  <button class="btn btn-primary">Send mail button</button>
</form>
