<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trang đổi mật khẩu</title>
  </head>
  <body>
    <h1 class="d-flex justify-content-center mt-5">Đổi mật khẩu</h1>
    <div class="d-flex justify-content-center mb-3">
      <span class="text-success"
        ><% if (msg?.length) { %> <%= msg %> <% } %>
      </span>
    </div>
    <main class="form-signin w-50 m-auto">
      <form action="/doi-mat-khau" method="post">
        <div class="form-floating mb-3">
          <input
            class="form-control"
            type="password"
            name="password"
            id="floatingOldPassword"
            placeholder="Password cũ..."
          />
          <label for="floatingOldPassword">Password cũ...</label>
          <span class="text-danger"><%= req?.errors?.password %></span>
        </div>
        <div class="form-floating mb-3">
          <input
            class="form-control"
            type="password"
            name="newPassword"
            id="floatingNewPassword"
            placeholder="Password mới..."
          />
          <label for="floatingNewPassword">Password mới...</label>

          <span class="text-danger"><%= req?.errors?.newPassword %></span>
        </div>
        <div class="form-floating mb-3">
          <input
            class="form-control"
            type="password"
            name="newPassword2"
            id="floatingNewPassword2"
            placeholder="Nhập lại password mới..."
          />
          <label for="floatingNewPassword2">Nhập lại password mới...</label>

          <span class="text-danger"><%= req?.errors?.newPassword2 %></span>
        </div>

        <button class="btn btn-primary w-100 py-2 mb-3">Lưu</button>
        <a href="/" class="btn btn-danger w-100 py-2 mb-3">Hủy</a>
      </form>
    </main>
  </body>
</html>
